.App {
  max-width: 1023px;
  min-width: 299px;
  margin: 20px auto;
}

.toolbar {
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  margin-right: 5px;
  border: 1px solid #555555;
  font-size: 1rem;
  cursor: pointer;
  background: white;
}

.active{
  background-color: #555555;
  color: white;
}

.gallery {
  padding-top: 10px;
  column-count: 3;
}

.galery-img {
  margin-bottom: 10px;
}

img {
  width: 100%;
}